---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51HHbGkJ0p1Qrmpqep0gjxe70BCH0WtY3OCAQScsQhCeztGpEFsCUgLhh43paYqEQH85ZhB2tFwTBV3UGhDnfhWzl00fbqK4ZSW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 12c335f9-0fcb-4c53-9a1e-67e19d6d4807
      Original-Request:
      - req_k2H2ENUOmS0nI1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1MmcNAJ0p1Qrmpqe9KOxMoAp",
          "object": "token",
          "card": {
            "id": "card_1MmcN9J0p1Qrmpqe6ugkjYnM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "O82J1mumwpOgQI8h",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "177.203.210.87",
          "created": 1679056024,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 17 Mar 2023 12:27:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=BRL&source=tok_1MmcNAJ0p1Qrmpqe9KOxMoAp&metadata[purchase_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_51HHbGkJ0p1Qrmpqep0gjxe70BCH0WtY3OCAQScsQhCeztGpEFsCUgLhh43paYqEQH85ZhB2tFwTBV3UGhDnfhWzl00fbqK4ZSW
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2023-03-17 09:27:03 -0300/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-03-17 09:27:03 -0300/2/2
      Original-Request:
      - req_zMCriKGBmso8uF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3MmcNAJ0p1Qrmpqe1ZXn7ExA",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_zMCriKGBmso8uF?t=1679056024",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 17 Mar 2023 12:27:04 GMT
recorded_with: VCR 6.1.0
