---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51HHbGkJ0p1Qrmpqep0gjxe70BCH0WtY3OCAQScsQhCeztGpEFsCUgLhh43paYqEQH85ZhB2tFwTBV3UGhDnfhWzl00fbqK4ZSW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '098d3f36-c49d-4ae4-b869-58021f2b2cc4'
      Original-Request:
      - req_ht88Y5ZtyWLF5q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1MmcN8J0p1QrmpqeraDVTiIH",
          "object": "token",
          "card": {
            "id": "card_1MmcN7J0p1Qrmpqew6W0BniG",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "uCDX9RV0PpC1Dnoy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "177.203.210.87",
          "created": 1679056022,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 17 Mar 2023 12:27:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=BRL&source=tok_1MmcN8J0p1QrmpqeraDVTiIH&metadata[purchase_id]=1&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_51HHbGkJ0p1Qrmpqep0gjxe70BCH0WtY3OCAQScsQhCeztGpEFsCUgLhh43paYqEQH85ZhB2tFwTBV3UGhDnfhWzl00fbqK4ZSW
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2023-03-17 09:27:00 -0300/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-03-17 09:27:00 -0300/1/1
      Original-Request:
      - req_6fbNUHoLgh7bkd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3MmcN8J0p1Qrmpqe0WfUGM9c",
          "object": "charge",
          "amount": 299,
          "amount_captured": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3MmcN8J0p1Qrmpqe0toOkZ6n",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1679056022,
          "currency": "brl",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1MmcN7J0p1Qrmpqew6W0BniG",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2028,
              "fingerprint": "uCDX9RV0PpC1Dnoy",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xSEhiR2tKMHAxUXJtcHFlKJe50aAGMgYj5_vuO8Y6LBZ4CdPWCkgDwWcyR8_mQyLxSmcgy0dxlQQAaouTlsCbhOXdh7eHbJoK-RIB",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3MmcN8J0p1Qrmpqe0WfUGM9c/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1MmcN7J0p1Qrmpqew6W0BniG",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "uCDX9RV0PpC1Dnoy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 17 Mar 2023 12:27:03 GMT
recorded_with: VCR 6.1.0
