---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51HHbGkJ0p1Qrmpqep0gjxe70BCH0WtY3OCAQScsQhCeztGpEFsCUgLhh43paYqEQH85ZhB2tFwTBV3UGhDnfhWzl00fbqK4ZSW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 820e14e1-a81f-486a-b51e-f127dd4b5282
      Original-Request:
      - req_n7mvqJAc499trb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1MmdHyJ0p1QrmpqehaU5tSNF",
          "object": "token",
          "card": {
            "id": "card_1MmdHyJ0p1Qrmpqe0JrCIDzU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "uCDX9RV0PpC1Dnoy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "177.203.210.87",
          "created": 1679059546,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 17 Mar 2023 13:25:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=BRL&source=tok_1MmdHyJ0p1QrmpqehaU5tSNF&metadata[purchase_id]=5&description=Charge+for+Ruby+on+Rails+Tutorial+%28Purchase+ID+5%29
    headers:
      Authorization:
      - Bearer sk_test_51HHbGkJ0p1Qrmpqep0gjxe70BCH0WtY3OCAQScsQhCeztGpEFsCUgLhh43paYqEQH85ZhB2tFwTBV3UGhDnfhWzl00fbqK4ZSW
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2023-03-17 10:25:46 -0300/10/5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-03-17 10:25:46 -0300/10/5
      Original-Request:
      - req_OsWKS0fus6dmLY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3MmdHzJ0p1Qrmpqe1Qjwm7Sd",
          "object": "charge",
          "amount": 299,
          "amount_captured": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3MmdHzJ0p1Qrmpqe1oeYzSY6",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1679059547,
          "currency": "brl",
          "customer": null,
          "description": "Charge for Ruby on Rails Tutorial (Purchase ID 5)",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "5"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 42,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1MmdHyJ0p1Qrmpqe0JrCIDzU",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2028,
              "fingerprint": "uCDX9RV0PpC1Dnoy",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xSEhiR2tKMHAxUXJtcHFlKNzU0aAGMgYy2FPCK_Y6LBaqo24fwMBQDGLVv2ees-tpErM_-5Ubl_vR0kCWnbGmXvJvbbXkl9ju32Ib",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3MmdHzJ0p1Qrmpqe1Qjwm7Sd/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1MmdHyJ0p1Qrmpqe0JrCIDzU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "uCDX9RV0PpC1Dnoy",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 17 Mar 2023 13:25:48 GMT
recorded_with: VCR 6.1.0
